body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: none;
    /* object-position: 100% 0%; */
    
	  animation-name: img-sprite;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
	  animation-play-state: paused;
  }
  
  @keyframes img-sprite{
    0%,100%{
      object-position: 60% 90%;
    }
    25%{
      object-position: 80% 90%;
    }
    50%{
      object-position: 90% 90%;
    }
  }

  div:hover img{
	animation-play-state: running;
  }