body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

div {
	background-image: url('../img/goblin_big.png');
	background-size: 480px 730px;
	width: 160px;
	height: 180px;
	background-repeat: no-repeat;
	background-clip: content-box;
	background-position: 0px 0px;

	animation-name: div-sprite;
	animation-duration: .5ms;
	animation-iteration-count: infinite;
	animation-timing-function: step-end;
	animation-play-state: paused;

}

@keyframes div-sprite {
	0%,100% {
		background-position: -170px 0px;
		/* transform: translateY(0px); */
	}

	50% {
		background-position: -330px 0px;
		/* transform: translateY(4px); */
	}
}

div:hover {
	animation-play-state: running;
}

img {
	width: 160px;
	height: 180px;
	object-fit: none;
	/* object-position: 100% 0%; */

	animation-name: img-sprite;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-end;
	animation-play-state: paused;
}

@keyframes img-sprite {

	0%,
	100% {
		object-position: 0% 67%;
		transform: translateX(0px);
	}

	25% {
		object-position: 50% 67%;
		transform: translateX(-25px);
	}

	50% {
		object-position: 100% 67%;
		transform: translateX(-50px);
	}
}

.walk:hover {
	animation-play-state: running;
}

.walk {
	border: 2px dotted red;
}