body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div{
    width:16px;
    height: 18px;

    background-image: url('../img/goblin.png');
    background-size: 48px 73px;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: 0px 0px;

    animation-name: div-sprite;
    animation-duration:500ms;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
} 

@keyframes div-sprite{
     0%,100%{background-position: 0px 0px;transform: translateY(0px);}
     25%{background-position: -17px 0px;transform: translateY(5px);}
     50%{background-position: -33px 0px;transform: translateY(10px);}
     75%{background-position: -17px 0px;transform: translateY(15px);}
}

img {
    display: inline;
    width: 16px;
    height: 18px;
    object-fit: none;
    animation-name: img-sprite;
    animation-duration:.5s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
  }
  
  @keyframes img-sprite{
      0%,100%{object-position: 0% 67%;transform: translateX(0px);}
      25%{object-position: 50% 67%;transform: translateX(10px);}
      50%{object-position: 100% 67%;transform: translateX(20px);}
  }